@use '../../styles/tokens'as *;

.tmna-text {
    padding: 20px;
    h2 {
        font-size: var(--heading-font-size-l);
        color: var(--color-text-light);
        line-height: 1.2em;
    }

    p {
        font-size: var(--heading-font-size-s);
        line-height: 1.5em;
        color: var(--color-text-light);
    }
}

.tmna-text-wrapper:has(.tmna-text) {
    @media (width >= #{$bp-desktop}) {
        width: 1054px;
        margin: 0 auto;
    }
}