@use '../../styles/tokens' as *;

.table-v2 {
  display: block;
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  font-size: var(--body-font-size-xs);

  &::-webkit-scrollbar {
    display: none;
  }

  .table-v2__table {
    width: 100%;
    max-width: 100%;
    min-width: 600px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: inherit;

    @media (width >= $container-width-sm) {
      font-size: var(--body-font-size-s);
    }

    @media (width >= $container-width-md) {
      font-size: var(--body-font-size-m);
    }

    thead tr {
      border-top: 1px solid var(--color-black);
      border-bottom: 1px solid var(--color-black);
    }

    tbody tr {
      border-bottom: 1px solid var(--color-black);
    }

    th {
      font-weight: 400;
    }

    th,
    td {
      padding: 0.5em;
      text-align: left;
      vertical-align: top;
      overflow-wrap: break-word;
      word-break: break-word;

      p {
        margin: 0;

        + p {
          margin-top: 0.25em;
        }
      }

      ul,
      ol {
        margin: 0;
        padding-left: 1.2em;
      }

      li {
        margin: 0;
        padding: 0;
      }

      a {
        &,
        &:visited {
          color: inherit;
          font-weight: 700;
          text-decoration: none;
        }

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 2px;
        }
      }
    }
  }

  &.no-header {
    .table-v2__table tbody tr {
      border-top: 1px solid var(--color-black);
    }
  }

  &.striped {
    tbody tr:nth-child(odd) {
      background-color: var(--light-color);
    }
  }

  &.bordered {
    .table-v2__table {
      th,
      td {
        border: 1px solid var(--color-black);
      }
    }
  }
}