@use '../../styles/tokens' as *;

.section.tmna-hero-container {
    min-height: 144px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (width >= #{$bp-tablet}) {
        min-height: 257px;
    }

    @media (width >= #{$bp-desktop}) {
        min-height: 320px;
    }
    &.with-form {
        min-height: 609px;

        @media (width >= #{$bp-tablet}) {
            min-height: 640px;
        }
    }
}
