@use '../../styles/tokens' as *;

footer {
	background-color: var(--light-color);
	font-size: var(--body-font-size-xs);
	.footer {
		>div {
			margin: auto;
			max-width: 1200px;
			padding: 40px 24px 24px;
		}
		p {
			margin: 0;
		}
	}
    .tmna-footer-section {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: start;
            flex-direction: column;
            @media (width >= #{$bp-tablet}) {
                height: 36px;
                align-items: center;
                padding: 20px 0;
                flex-direction: row;
            }
            li {
                padding: 0 10px 0 0;
                border-right: 0 solid #b8b8b8;
                line-height: 1em;
                margin-right: 10px;
                margin-bottom: 15px;
                &:last-child {
                    border-right: 0;
                }
                @media (width >= #{$bp-tablet}) {
                    border-right-width: 2px;
                    margin-bottom: 0;
                }
                a {
                    color: #58595b;
                    transition: color .3s;
                    font-size: 1rem;
                    &:hover {
                        color: var(--color-red-darker);
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
            }
        }
    }
   .tmna-footer-links {
    padding: 40px 0;
	.columns-wrapper {
		.columns {
			>div {
				>.columns-img-col {
					img {
						height: 48px;
						width: auto;
						object-fit: contain;
					}
				}
			}
		}
	}
    ul {
            list-style: none;
            transition: color .3s;
            flex-direction: column;
            align-items: start;
            line-height: 1.75em;
            margin-left: 25px;
            padding: 0;
            li {
                padding: 0;
                line-height: 1.75em;
                margin-right: 10px;
                a {
                    color: var(--color-gray-dark);
                    transition: color .3s;
                    font-size: 1rem;
                    &:hover {
                        color: var(--color-red-darker);
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
            }
        }
}
.tmna-footer-privacy {
    .columns.block {
        >div {
            >div:last-child {
                @media (width >= #{$bp-tablet}) {
                    display: flex;
                    justify-content: end;
                }

            }
        }
    }
    p {
        font-size: 16px;
        margin: 20px 0;
        color: var(--color-gray-dark);
    }
    ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: start;
            flex-direction: column;
            @media (width >= #{$bp-tablet}) {
                height: 36px;
                padding: 20px 0;
                flex-direction: row;
            }
            li {
                padding: 0 10px 0 0;
                border-right: 0 solid #b8b8b8;
                line-height: 1em;
                margin-right: 10px;
                margin-bottom: 15px;
                &:last-child {
                    border-right: 0;
                }
                @media (width >= #{$bp-tablet}) {
                    border-right-width: 2px;
                    margin-bottom: 0;
                }
                a {
                    color: var(--color-gray-dark);
                    transition: color .3s;
                    font-size: 1rem;
                    &:hover {
                        color: var(--color-red-darker);
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
            }
        }
}
}
@media (width >= #{$bp-desktop}) {
	footer {
		.footer {
			>div {
				padding: 40px 32px 24px;
			}
		}
	}
}
