footer {
  font-size: var(--body-font-size-xs);
}
footer .footer p {
  margin: 0;
}
footer .tmna-footer-section {
  background: var(--color-off-white);
  padding: 40px 0;
}
footer .tmna-footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
}
@media (width >= 768px) {
  footer .tmna-footer-section ul {
    height: 36px;
    align-items: center;
    padding: 20px 0;
    flex-direction: row;
  }
}
footer .tmna-footer-section ul li {
  padding: 0 10px 0 0;
  border-right: 0 solid #b8b8b8;
  line-height: 1em;
  margin-right: 10px;
  margin-bottom: 15px;
}
footer .tmna-footer-section ul li:last-child {
  border-right: 0;
}
@media (width >= 768px) {
  footer .tmna-footer-section ul li {
    border-right-width: 2px;
    margin-bottom: 0;
  }
}
footer .tmna-footer-section ul li a {
  color: var(--color-gray-dark);
  transition: color 0.3s;
  font-size: 1rem;
}
footer .tmna-footer-section ul li a:hover {
  color: var(--color-red-darker);
  cursor: pointer;
  text-decoration: none;
}
footer .tmna-footer-links {
  padding: 40px 0;
}
footer .tmna-footer-links .columns-wrapper .columns > div > .columns-img-col img {
  height: 48px;
  width: auto;
  object-fit: contain;
}
footer .tmna-footer-links ul {
  list-style: none;
  transition: color 0.3s;
  flex-direction: column;
  align-items: start;
  line-height: 1.75em;
  margin-left: 25px;
  padding: 0;
}
footer .tmna-footer-links ul li {
  padding: 0;
  line-height: 1.75em;
  margin-right: 10px;
}
footer .tmna-footer-links ul li a {
  color: var(--color-gray-dark);
  transition: color 0.3s;
  font-size: 1rem;
}
footer .tmna-footer-links ul li a:hover {
  color: var(--color-red-darker);
  cursor: pointer;
  text-decoration: none;
}
@media (width >= 768px) {
  footer .tmna-footer-privacy .columns.block > div > div:last-child {
    display: flex;
    justify-content: end;
  }
}
footer .tmna-footer-privacy p {
  font-size: 16px;
  margin: 20px 0;
  color: var(--color-gray-dark);
}
footer .tmna-footer-privacy ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
}
@media (width >= 768px) {
  footer .tmna-footer-privacy ul {
    height: 36px;
    padding: 20px 0;
    flex-direction: row;
  }
}
footer .tmna-footer-privacy ul li {
  padding: 0 10px 0 0;
  border-right: 0 solid #b8b8b8;
  line-height: 1em;
  margin-right: 10px;
  margin-bottom: 15px;
}
footer .tmna-footer-privacy ul li:last-child {
  border-right: 0;
}
@media (width >= 768px) {
  footer .tmna-footer-privacy ul li {
    border-right-width: 2px;
    margin-bottom: 0;
  }
}
footer .tmna-footer-privacy ul li a {
  color: var(--color-gray-dark);
  transition: color 0.3s;
  font-size: 1rem;
}
footer .tmna-footer-privacy ul li a:hover {
  color: var(--color-red-darker);
  cursor: pointer;
  text-decoration: none;
}
footer .tmna-footer-media .columns-wrapper:first-child .columns div div:first-child {
  width: 100%;
}
@media (width >= 768px) {
  footer .tmna-footer-media .columns-wrapper:first-child .columns div div:first-child {
    min-width: 60%;
  }
}
footer .tmna-footer-media .columns-wrapper:first-child .columns div div:last-child {
  gap: 10px;
  display: flex;
  justify-content: end;
}
@media (max-width: 991px) {
  footer .tmna-footer-media .columns-wrapper:first-child .columns div div:last-child {
    order: 1;
    justify-content: flex-start;
  }
}
footer .tmna-footer-media .columns-wrapper:first-child .columns div div:last-child p,
footer .tmna-footer-media .columns-wrapper:first-child .columns div div:last-child a {
  display: inline-block;
  gap: 10px;
  display: flex;
}
footer .tmna-footer-media .columns-wrapper:first-child .columns div div:last-child p img:hover,
footer .tmna-footer-media .columns-wrapper:first-child .columns div div:last-child a img:hover {
  transform: scale(1.05);
}
/*# sourceMappingURL=footer.css.map */
